services:
  db:
    image: postgres:15
    volumes:
      - ./data/postgres:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=chatgay_db
      - POSTGRES_USER=jorge_admin
      - POSTGRES_PASSWORD=password_provisoria
    ports:
      - "5432:5432"

  web:
    build: .
    command: python src/manage.py runserver 0.0.0.0:8000
    volumes:
      - ./src:/app
    ports:
      - "8000:8000"
    depends_on:
      - db